@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --background: #1d3557;
  --main: #457b9d;
  --primary: #a8dadc;
  --text: #f1faee;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif, serif;
  color: var(--main);
}

body {
  background-color: var(--background);
}

.todo-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  height: 500px;
  background-color: var(--main);
  text-align: center;
  margin: 50px auto;
  border-radius: 10px;
  padding-bottom: 30px;
  overflow-y: scroll;
}

.todo-list h1 {
  color: var(--text);
  margin: 20px 0;
}

.todo-form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.todo-input {
  flex-basis: 50%;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 2px solid var(--background);
  background-color: transparent;
  color: var(--text);
}

.todo-input::placeholder {
  color: var(--text);
}

.todo-input:focus {
  outline: none;
  color: var(--text);
}

.todo-input.edit {
  color: var(--text);
  border: 2px solid var(--primary);
}

.todo-button {
  flex-basis: 25%;
  width: max-content;
  padding: 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: var(--text);
  background-color: var(--background);
}

.todo-button.edit {
  color: var(--background);
  background-color: var(--primary);
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
  background: var(--text);
  padding: 15px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 24px;
  cursor: pointer;
}
